{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-Edge" />
        <link rel="shortcut icon" href="{% static 'portfolio/img/favicon.ico' %}" />

        {% block meta %}
        {% endblock %}

        <title>{% block title %}Ryan Kuczka{% endblock %}</title>

        {% block styles %}
        <link href="{% static 'vendors/css/font-awesome.css' %}" rel="stylesheet">
        <link href="{% static 'portfolio/css/core.css' %}" rel="stylesheet" type="text/css" />
        {% endblock %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        {% block scripts %}
        <script src="{% static 'portfolio/js/bootstrap.js' %}"></script>
        {% endblock %}

        {% block extrahead %}
        {% endblock %}
    </head>

    <body>
        <div id="wrapAll">
        <div id="header">
            <div class="logo">
                <a href="/"><img src="{% static 'portfolio/img/header-logo.png' %}" width="483" height="95"/></a>
            </div>
            <div class="headerContent">
                <div class="networks">&nbsp;</div>
                <div class="navButtons">
                    <a href="/" class="navButton{% if SITE_SECTION == 'Contact' %} selected{% endif %}">Contact</a>
                    <a href="/" class="navButton{% if SITE_SECTION == 'Projects' %} selected{% endif %}">Projects</a>
                    <a href="{% url 'blog_index' %}" class="navButton{% if SITE_SECTION == 'Blog' %} selected{% endif %}">Blog</a>
                    <a href="{% url 'about_index' %}" class="navButton{% if SITE_SECTION == 'About' %} selected{% endif %}">About</a>
                </div>
            </div>
            <div class="dividerLine"></div>
        </div>

        <div id="contentWrap">
        {% block main_content %}
        {% endblock %}
        <div id="push"></div>
        </div>
        </div>
        <div id="footer">
            <p class="footer">Ryan Kuczka &copy; 2013</p>
        </div>
    </body>
</html>
