{% extends 'base.html' %}
{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/contact.css' %}" />
{% endblock %}

{% block main_content %}
<h2>Networks</h2>
<p>You can find much of my online presence through the following networks.</p>
<div id="networks">
    <div class="row">
        <a href="http://facebook.com/mathwiz1991"><i class="icon-facebook-sign"></i></a>
        <a href="http://www.linkedin.com/in/ryankuczka"><i class="icon-linkedin-sign"></i></a>
        <a href="http://plus.google.com/112619980900001377112/posts"><i class="icon-google-plus-sign"></i></a>
        <a href="http://github.com/ryankuczka"><i class="icon-github-sign"></i></a>
    </div>
    <div class="row">
        <div class="networkSpacer">&nbsp;</div>
        <a href="http://bitbucket.org/rkuczka"><i class="icon-bitbucket-sign"></i></a>
        <a href="http://twitter.com/ryan_kuczka"><i class="icon-twitter-sign"></i></a>
        <div class="networkSpacer">&nbsp;</div>
    </div>
</div>

<h2>Send an Email</h2>
<div id="contactForm">
    <form method="post">
        {% csrf_token %}
        <div class="subject">
            {{ form.subject.label_tag }}
            {{ form.subject }}
        </div>
        <div class="email">
            {{ form.sender.label_tag }}
            {{ form.sender }}
        </div>
        <div class="message">
            {{ form.message.label_tag }}
            {{ form.message }}
        </div>
        <div class="cc">
            {{ form.cc_myself.label_tag }}
            {{ form.cc_myself }}
        </div>
        <input type="submit" value="Send" class="contact disabled" disabled/>
    </form>
</div>

<div class="footerSpacer"></div>
{% endblock %}
