<h3>Entries</h3>
{% for year, months in entry_dict.items %}
<ul class="blog-nav">
    <li>
        <a href="#" data-target="#months{{ year }}" class="collapsible collapsed">
            <i class="icon-chevron-right"></i>&nbsp;
        </a>
        {{ year }}
        <div id="months{{ year }}" class="collapsed">
            <ul class="months unstyled">
                {% for month, entries in months.items %}
                <li>
                    <a href="#" data-target="#entries{{ month}}-{{ year }}" class="collapsible collapsed"><i class="icon-chevron-right"></i></a>
                    {{ month }}
                    <div id="entries{{ month }}-{{ year }}" class="collapsed">
                        <ul class="entries unstyled">
                            {% for entry, entry_url in entries %}
                            <li><a href="{{ entry_url }}">{{ entry }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </li>
</ul>
{% endfor %}
