/* Sidebar Nav */
#aboutNav {
    width: 145px;
    border-right: 5px solid #ffd200;
    padding: 5px 0 10px 0;
}
.aboutNavTab {
    display: block;
    text-align: right;
    padding: 5px 10px 5px 0;
    margin: 5px 0 0 20px;
    background: #999;
    font-size: 1.2em;
    width: 115px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-decoration: none;
    color: #000;
}
.aboutNavTab.selected {
    background: #ffd200;
    border-bottom-left-radius: 0;
}
.aboutSubNavTab {
    display: block;
    font-size: 1em;
    background: #999;
    text-align: right;
    width: 115px;
    padding: 5px 10px 5px 0;
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    border-top: 1px solid #000;
}
.aboutSubNavTab:last-child {
    border-bottom-left-radius: 5px;
}
.aboutSubNavTab:first-child {
    border: none;
}
