{% extends 'blog/blog_two_column.html' %}

{% block main_column %}
<div id="archYrList">
{% for year, months in entry_dict.items %}
<a href="#" data-target="#archMnthList{{ year }}" class="collapsible archYr{% if not forloop.first %} collapsed{% endif %}">
    <span>{{ year }}</span>
    <i class="icon-plus icon-2x{% if forloop.first %} icon-minus{% endif %}"></i></a>
<div id="archMnthList{{ year }}"{% if not forloop.first %} class="collapsed"{% endif %}>
        {% for month_tuple, entries in months.items %}
        <a href="{% url 'blog_by_month' year month_tuple.0 %}" class="archMnth"><h3>{{ month_tuple.1 }}</h2></a>
        <div id="archEtrList">
            {% for entry in entries %}
            <div>
                <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                <span class="pubDate">{{ entry.display_publish_date }}</span>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock %}
