{% extends 'base_two_column.html' %}

{% load static %}
{% load blog_extras %}

{% block styles %}
{{ block.super }}
<link href="{% static 'blog/css/blog.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'vendors/js/jquery.sticky.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#blogNav').sticky({topSpacing: 20});
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('a.collapsible').click(function(event) {
            event.preventDefault();
            var $target = $($(this).data('target'));
            if ($target.hasClass('collapsed')) {
                $target.slideDown();
                $target.toggleClass('collapsed');
            } else {
                $target.slideUp(function() {
                    $target.toggleClass('collapsed');
                });
            }
            $('i.icon-chevron-left', this).toggleClass('icon-rotate-270');
            $('i.icon-plus', this).toggleClass('icon-minus');
            $(this).toggleClass('collapsed');
        });
        $('.blogNavTab.entries,.blogNavList').hover(function() {
            if ($('.blogNavTab.entries').hasClass('selected')) {
                $('.blogNavTab.entries').css('box-shadow', '-3px 3px 0 #cca000');
            } else {
                $('.blogNavTab.entries').css('box-shadow', '-3px 3px 0 #555');
            }
            $('.blogNavList').css('box-shadow', '-3px 3px 0 #555');
        }, function() {
            if ($('.blogNavTab.entries').hasClass('selected')) {
                $('.blogNavTab.entries').css('box-shadow', '-5px 5px 0 #cca000');
            } else {
                $('.blogNavTab.entries').css('box-shadow', '-5px 5px 0 #555');
            }
            $('.blogNavList').css('box-shadow', '-5px 5px 0 #555');
        });
        $('.blogNavTab.tags,.blogTagCloud').hover(function() {
            if ($('.blogNavTab.tags').hasClass('selected')) {
                $('.blogNavTab.tags').css('box-shadow', '-3px 3px 0 #cca000');
            } else {
                $('.blogNavTab.tags').css('box-shadow', '-3px 3px 0 #555');
            }
            $('.blogTagCloud').css('box-shadow', '-3px 3px 0 #555');
        }, function() {
            if ($('.blogNavTab.tags').hasClass('selected')) {
                $('.blogNavTab.tags').css('box-shadow', '-5px 5px 0 #cca000');
            } else {
                $('.blogNavTab.tags').css('box-shadow', '-5px 5px 0 #555');
            }
            $('.blogTagCloud').css('box-shadow', '-5px 5px 0 #555');
        });
    });
</script>
{% endblock %}

{% block left_column %}
{% blog_sidebar_nav %}
{% endblock %}
