{% extends 'base_two_column.html' %}

{% load static %}
{% load blog_extras %}

{% block styles %}
{{ block.super }}
<link href="{% static 'blog/css/blog.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
        $('a.collapsible').click(function(event) {
            event.preventDefault();
            var $target = $($(this).data('target'));
            if ($target.hasClass('collapsed')) {
                $target.slideDown();
            } else {
                $target.slideUp();
            }
            $target.toggleClass('collapsed');
            $('i', this).toggleClass('icon-rotate-270');
        });
    });
</script>
{% endblock %}

{% block left_column %}
{% blog_sidebar_nav %}
{% endblock %}
