{% extends 'base_two_column.html' %}
{% load static %}
{% load blog_extras %}

{% block styles %}
{{ block.super }}
<style type="text/css">
    a.toggler {text-decoration: none;}
    a.toggler i.icon-minus {display: inline-block;}
    a.toggler i.icon-plus {display: none;}

    a.toggler.collapsed i.icon-minus {display: none;}
    a.toggler.collapsed i.icon-plus {display: inline-block;}

    ul.months li {margin-left: 14px;}
</style>
{% endblock %}

{% block scripts %}
<script src="{% static 'portfolio/js/bootstrap.js' %}"></script>
<script type="text/javascript">
</script>
{% endblock %}

{% block left_column %}
<h2>Entries</h2>
{% blog_sidebar_nav %}
{% endblock %}

{% block main_column %}
{% for entry in entries %}
<a href="{{ entry.get_absolute_url }}"><h3>{{ entry.title }}</h3></a>
{{ entry.content }}
{% endfor %}
{% endblock %}
