<p>
    'Come on!' cried the Gryphon, and, taking Alice by the hand, it hurried
    off, without waiting for the end of the song. {% if summary %}<a href="{{ entry.get_absolute_url }}">Continue Reading...</a>{% endif %}
</p>
{% if not summary %}
<p>
    'What trial is it?' Alice panted as she ran; but the Gryphon only
    answered 'Come on!' and ran the faster, while more and more faintly
    came, carried on the breeze that followed them, the melancholy words:&mdash;
</p>

<p>
    'Soo&mdash;oop of the e&mdash;e&mdash;evening,
    Beautiful, beautiful Soup!'
</p>

<p>
    The King and Queen of Hearts were seated on their throne when they
    arrived, with a great crowd assembled about them&mdash;all sorts of little
    birds and beasts, as well as the whole pack of cards: the Knave was
    standing before them, in chains, with a soldier on each side to guard
    him; and near the King was the White Rabbit, with a trumpet in one hand,
    and a scroll of parchment in the other. In the very middle of the court
    was a table, with a large dish of tarts upon it: they looked so good,
    that it made Alice quite hungry to look at them&mdash;'I wish they'd get the
    trial done,' she thought, 'and hand round the refreshments!' But there
    seemed to be no chance of this, so she began looking at everything about
    her, to pass away the time.
</p>

<p>
    Alice had never been in a court of justice before, but she had read
    about them in books, and she was quite pleased to find that she knew
    the name of nearly everything there. 'That's the judge,' she said to
    herself, 'because of his great wig.'
</p>
{% endif %}
