<h1>About Me</h1>
<p>I am a 21-year-old web developer currently living in Bay Ridge, Brooklyn. I have just over
a year of experience with Python and Django and I am constantly learning more. I've always
enjoyed the logic of computers, but never fully pursued that passion until recently. I very much
enjoy video games, or just relaxing with a good movie, my girlfriend, Sam, and our gorgeous cat, Mel.</p>

<h3>Skills</h3>
<a name="skills"></a>
<p>As previously mentioned, I have just over a year of experience with Python and Django. I
know quite a bit of HTML and CSS, but I am by no means a master (yet...) and by some accounts,
probably only know just enough to be dangerous. This is one of the intentions of building this site.
I want to have a sort of playground to learn more about design and techniques. I am also starting
to learn Javascript, focusing on jQuery and eventually some AngularJS for now.
You will be able to find some experiements, tests, and full projects on the
<a href="/">Projects</a> page.</p>
