<h1>Education</h1>
<p>I graduated from Niwot High School, in Niwot, Colorado, in 2009 with an International
Baccalaureate Diploma. I had received scores of 7 on the Math HL and Physics HL tests,
6 on the Chemistry SL and Economics SL tests, and 5 on the English HL and French SL tests.</p>

<p>I decided upon NYU for college and at that point decided on Mathematics as a major. I just
knew I loved math. After arriving for freshman orientation, I discovered that NYU had a joint
Economics and Mathematics major. I really enjoyed Econ in high school so I thought, why not?
3.5 years later, I had a B.A. in Economics and Mathematics with a GPA of 3.546. You can find
a list of my courses, grouped by subject, below, as well as my plans for education in the future.</p>

<a name="courses"></a>
<h3>Courses</h3>
<ul>
    <li><strong>Math:</strong><ul>
        <li>Calculus I-III</li>
        <li>Linear Algebra</li>
        <li>Analysis I-II</li>
        <li>Combinatorics</li>
        <li>Theory of Probability</li>
        <li>Theory of Numbers</li>
    </ul></li>
    <li><strong>Economics:</strong><ul>
        <li>Intro to Economic Analysis</li>
        <li>Mathematics for Economists</li>
        <li>Analytical Statistics</li>
        <li>Econometrics</li>
        <li>Microeconomic Theory and Analysis</li>
        <li>Macroeconomic Theory and Analysis</li>
        <li>Money and Banking</li>
        <li>Strategic Decision Theory</li>
        <li>Economics and Psychology</li>
        <li>Mathematics of Finance</li>
    </ul></li>
    <li><strong>Computer Science:</strong><ul>
        <li>Intro to Programming</li>
        <li>Intro to Computer Science</li>
    </ul></li>
</ul>

<a name="postGrad"></a>
<h3>After College</h3>
<p>After graduation, I have used the real world as a classroom. I am constantly learning
both from and for my job as a developer. I also enjoy reading about new and interesting
things going on in the world of programming, software, and web development, even if I
don't know enough to fully comprehend it right now!</p>

<p>I know I will never stop learning, and in this field, you have to constantly be keeping
up with new technology. Learning by doing is the best way to learn in my opinion, so I plan
on having a playground, so to speak, on this site to try out new things.</p>

<p>I also plan to continue learning in the traditional way of online education through outlets
such as Coursera and Codecademy. While these won't make me a master, it's never a bad thing
to relearn the basics and maybe be surprised at some new things I hadn't learned before!</p>
